* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --fraunces: 'Fraunces', serif;
    --lato: 'Lato', sans-serif;
    --madefor: 'Wix Madefor Text', sans-serif;

    --dark-green: #014235;
}
:target {
    text-decoration-color: black;
}
a {
    text-decoration: none;
}

body {
    background: #E1C1BC;
    font-size: 16px;
}

/* header link to the creator */


header {
    height: 45px;
    background: #EFF1F2;
    border-bottom: 3px solid #A0138E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}
.link-github{
    text-decoration: none;
}
.contact-gwen {
    border: 1px solid #A0138E;
    margin: 0;
    font-size: 13px;
    background: #EFF1F2;
    color: #A0138E;
    font-weight: 500;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 25px;
}
header:hover {
    background: white;
}
header:hover .contact-gwen {
    background-color: #A0138E;
    color: white;
}

/* Navigation bar */


nav{
    height: 180px;
    display: flex;
    justify-content: center;

}   
.nav-menu {
    position: relative;
    width: 950px;
    display: flex;
    align-items: end;
    padding-bottom: 50px;
    font-family: var(--madefor);
    padding-left: 20px;
    background: #E1C1BC;
}
.nav-menu::before, .nav-menu::after {
    position: absolute;
    z-index: -5;
    content:'';
    width: 20%;
    height: 80%;
    top: -10px;
    left: 5px;
    /* -moz-box-shadow: -12px 0px 5px -5px rgba(0, 0, 0, 0.333);
    -webkit-box-shadow: -12px 0px 5px -5px rgba(0, 0, 0, 0.333);*/
    box-shadow: -10px 0px 7px -5px rgba(0, 0, 0, 0.333); 
    transform: rotate(-3deg);
    /* -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg); */
    background: grey;
}

.nav-menu::after {
    transform: rotate(182deg);
    right: 5px;
    left: auto;


}


nav a {
    font-size: 15px;
    font-weight: 100;
    color: black;
    text-decoration: none;
    margin-right: 6px;
    text-decoration: underline overline;
    text-decoration-color: #CACACA;
    text-underline-offset: 5px;
    z-index: 15;
    position: relative;
}
nav a:hover {
    text-decoration-color: black;
}

main {
    display: grid;
    grid-template-columns: 72% 28%;
}



/* main content photo title and profile description on the side */

.main-picture-container {
    background-image: url(images/Laptop-phone-workstation.webp);
    width: 100%;
    background-color: rgb(143, 143, 143);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-color: rgb(121, 121, 121);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
}
.website-title {
    color: white;
    font-family: var(--fraunces);
    z-index: 2;
    line-height: 0.9;
}
h1 {
    width: 700px;
    font-size: 88px;
}
.website-title p {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin-top: 22px;
}
.profile {
    font-family: var(--lato);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    margin: auto;
    padding-bottom: 80px;
}
.profile-picture {
    width: 140px;
    border-radius: 50%;
    border: none;
    margin-top: 40px;
}
.chat-button-container {
    display: flex;
    justify-content: center;
}

.chat-button {
    margin: auto;
    cursor: pointer;
    background: white;
    border: 2px solid #8B6755;
    border-radius: 25px;
    padding: 9px 35px;
    margin-top: 25px;
    font-weight: 200;
    font-size: 17px;
    display: flex;
    justify-content: center;
}
button:hover .right-arrow {
    width: 35px;
}
button img {
    filter: invert(41%) sepia(25%) saturate(518%) hue-rotate(335deg) brightness(98%) contrast(92%);
    width: 25px;
    margin-left: 7px;
}
/* media */

.media {
    display: grid;
    grid-template-columns: repeat(4, minmax(230px, 1fr));
    grid-template-rows: 58px 27px 30px 30px;
    background: white;
    margin: 2px 0px;
    border: 1px solid black;
}
.item {
    border-right: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 25px;
}
.social-media-icon {
    width: 18px;
    margin-right: 7px;
}
h2 {
    color: var(--dark-green);
    font-family: var(--fraunces);
    font-weight: 300;
    font-size: 20px;
}
.media p {
    font-family: var(--lato);
    font-weight: 300;
}

/* ABOUT DIV */

#about-me-container {
    font-family: var(--lato);
    background: #CAB4AF;
    font-weight: 300;
    line-height: 1.5em;
}
.about-me-content {
    width: 940px;
    margin: auto;
    padding-top: 35px;
}

.about-home {
    display: flex;
    justify-content: space-between;
    margin: 0px -20px 70px 20px;
}
.title-about {
    font-size: 32px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}


.home-button {
    margin: auto;
    background: white;
    border: 2px solid #8B6755;
    color: #906D5C;
    border-radius: 25px;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 17px;
}
.social-media {
    padding: 15px;
    text-align: center;
}

/* Services */
#services {
    background: #E7DFDE;
    margin: auto;
    min-height: 100vh;
    padding-bottom: 15px;
}
h4 {
    text-align: center;
    font-size: 56px;
    font-family: var(--fraunces);
    font-weight: 700;
    padding: 20px 0px 50px 0px;
    
}

.services-3columns {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    text-align: center;
    justify-content: center;
    margin: auto;
}
.services-picture {
    border-radius: 50%;
    margin: auto;
    margin-bottom: 25px;
}
h5 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 15px;
}
.services-3columns p {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.align-left{
    text-align: left;
}
.line-height {
    line-height: 2em;
}

/* footer */


footer {
    color: #FFFFFF;
    font-size: 29px;
    width: 815px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--fraunces);
    font-weight: 300;
    margin: auto;
    line-height: 1.4em;
}
.feedback {
    color: #F6ECEB;
    font-size: 100px;
    padding-top: 50px;
}
.owner-review {
    font-size: 18px;
    margin: 40px;
    line-height: 1.1em;
}