*, *::before, *::after{
    border: 1px solid black;
    padding: 0;
    margin: 0;
}
:root {
    --fraunces: 'Fraunces', serif;
    --lato: 'Lato', sans-serif;

    --dark-green: #014235;
}

body {
    background: #E1C1BC;
    font-size: 16px;
}
nav{
    width: 950px;
    height: 180px;
    margin: auto;
    display: flex;
    align-items: end;
    margin-bottom: 50px;
}

main {
    display: grid;
    grid-template-columns: 72% 28%;
}


/* main content photo title and profile description on the side */

.main-picture-container {
    background-image: url(images/Laptop-phone-workstation.webp);
    width: 100%;
    background-color: rgb(143, 143, 143);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-color: rgb(121, 121, 121);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
}
.website-title {
    color: white;
    font-family: var(--fraunces);
    z-index: 2;
    line-height: 0.9;
}
h1 {
    width: 700px;
    font-size: 88px;
}
.website-title p {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin-top: 22px;
}
.profile {
    font-family: var(--lato);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    margin: auto;
}
.profile-picture {
    width: 140px;
    border-radius: 50%;
    border: none;
    margin-top: 40px;
}
/* media */

.media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 58px 27px 36px 36px;
    background: white;
    text-align: center;
    align-items: baseline;
}
.icons {
    width: 25px;
}
.social-media-icon {
    width: 25px;
}
h2 {
    color: var(--dark-green);
    font-family: var(--fraunces);
    font-weight: 400;
    font-size: 20px;
}
.media p {
    font-family: var(--lato);
    font-weight: 300;
}